{% extends "bookmarkapp/base.html" %}
{% load bootstrap3 %}

{% block content %}
  <h2>{{ view.user.username }}</h2>
  {% for bookmark in bookmarks %}
    <p>
      <a href='{% url 'short' bookmark.short_url %}'>
        {{ bookmark.title }}
      </a>
      {% if user.is_authenticated %}
        {% if user.username == view.user.username %}
          <a href='{% url 'editbookmark' bookmark.pk %}'><small>edit</small></a>
          <a href='{% url 'deletebookmark' bookmark.pk %}'><small>delete</small></a>
        {% endif %}
      {% endif %}
    </p>
    {% if bookmark.description %}
    <p>{{ bookmark.description }}</p>
    {% endif %}
  {% endfor %}
  {% bootstrap_pagination page_obj %}
{% endblock %}
